<div class="topnav">
  <a class="active" href="#home">Home</a>
  <div class="search-container">
    <button class="button" (click)="logout()">Logout</button>
  </div>
</div>
<div class="sidenav">
  <a href="/user-create">Create User</a>
  <a href='/user-list'>User List</a>
</div>
<div class="content">
  <div class="text-center">
    <h2> USER LIST</h2>
  </div>
  <table style="width:100% ;margin-top: 30px;">
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>State</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let item of userData; let i = index">
      <td class="text-center">{{i + 1}}</td>
      <td class="text-center">{{item.name}}</td>
      <td class="text-center">{{item.phoneNumber}}</td>
      <td class="text-center">{{item.address}}</td>
      <td class="text-center">{{item.state}}</td>
      <td class="text-center">{{item.city}}</td>
      <td class="text-center"><span><button class="button" (click)="editUser(item)">Edit</button></span>
        <span><button class="button" (click)="deleteUser(item)">Delete</button></span>
      </td>
    </tr>
  </table>
  <p *ngIf="userData.length == 0">No Users Found</p>
</div>